body {
    color: #222;
    font-family: arial,sans-serif;
    font-size: 13px;
}

.header {
    display: inline-block;
}

.left {
    color: #000;
    opacity: 0.75;
    position: absolute;
    top: 16px;
    margin: 7px 0 0 0px;
}

.left_box {
    padding-left: 15px;
}

.left_box:hover {
    cursor: pointer;
    text-decoration: underline;
}

.right {
    position: absolute;
    right: 0px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    float: right;
    justify-content: flex-end;
}

.right_text {
    line-height: normal;
    padding: 5px 10px 0 10px;
}

.right_text:hover {
    cursor: pointer;
    text-decoration: underline;
}
.right_box {
    text-align: right;
    padding: 0 20px 0 10px;
    opacity: 0.5;
}

.right_box:hover {
    opacity: 1;
    cursor: pointer;
}

.sign_in {
    line-height: 28px;
    padding: 0 12px;
    text-align: left;
    color: #fff;
    border: 1px solid #4285f4;
    border-radius: 2px;
    font-weight: bold;
    outline: none;
    background: linear-gradient(#4387fd,#4683ea);
}

.body {
    padding-top: 50px;
}

.google_logo {
    padding-top: 125px;
}

.search_bar {
    padding-top: 0;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
    margin-top: 25px;
    width: 482px;
}

.search_bar:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.search_left {
    padding: 5px 10px;
    display: inline-block;
    font-size: small;
}
.magnifying_glass {
    position: relative;
    top: 5px;
    opacity: 0.25;
    display: inline-block;
    font-size: small;
}

.search_input {
    border-style: none;
    font-size: 16px;
    width: 400px;
    height: 30px;
    display: inline-block;
}

.search_nav {
    margin: 20px auto;
}

.search_buttons {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 32px;
    display: inline-block;
    text-align: center;
}

.search_buttons:hover {
    box-shadow: 0 1px 1 px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
    cursor: pointer;
}